@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
html,
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-rows: 200px 150px 500px;
    background-color: hsl(268, 75%, 9%);
    max-width: 100vmax;
    justify-content: center;
    height: 150vmin;
}

.header {
    grid-row-start: 1;
    grid-row-end: 2;
    color: hsl(52, 100%, 62%);
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    align-self: end;
    padding-bottom: 30px;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.calc {
    grid-column-start: 1;
    grid-column-end: 2;
}

.switch {
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 15px;
    justify-self: end;
}

#box:hover {
    cursor: pointer;
}

#box {
    min-width: 100px;
    background-color: hsl(268, 71%, 12%);
    color: hsl(268, 71%, 12%);
    border-radius: 50px;
    padding-right: 5px;
    padding-bottom: 7px;
    padding-left: 5px;
    font-size: 32px;
    margin-left: 20px;
}

#circle {
    height: 10px;
    background-color: hsl(176, 100%, 44%);
    color: hsl(176, 100%, 44%);
    border-radius: 50%;
    font-size: 20px;
}

a {
    color: none;
    text-decoration: none;
}

#agot,
#pisot {
    color: hsl(268, 71%, 12%);
}

.display {
    grid-row-start: 2;
    grid-row-end: 3;
    width: 600px;
    background-color: hsl(268, 71%, 12%);
    border-radius: 15px;
    margin-bottom: 20px;
    color: hsl(52, 100%, 62%);
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    text-align: end;
    padding-right: 30px;
    padding-top: 65px;
    font-size: 40px;
}

.keys {
    grid-row-start: 3;
    grid-row-end: 4;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-content: center;
    background-color: hsl(268, 71%, 12%);
    border-radius: 10px;
    padding: 15px;
    color: hsl(52, 100%, 62%);
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    text-align: center;
}

.buttons {
    padding-top: 18px;
    background-color: hsl(268, 47%, 21%);
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 1px hsl(290, 70%, 36%);
}

#btn_reset {
    grid-column-start: 1;
    grid-column-end: 3;
}

#btn_reset,
#btn_del {
    background-color: hsl(281, 89%, 26%);
    color: white;
    box-shadow: 0px 4px 1px hsl(285, 91%, 52%);
}

#btn_eq {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: hsl(176, 100%, 44%);
    color: white;
    box-shadow: 0px 4px 1px hsl(177, 92%, 70%);
    color: black;
}

.buttons:hover {
    cursor: pointer;
    box-shadow: 0px 5px 1px;
}

@media screen and (max-width: 640px) {
    .container {
        width: 150vmin;
        height: 150vmax;
    }
    .header,
    .display,
    .keys {
        width: 440px;
    }
}
